*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.container {
  position: relative;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.site-header {
  background-color: #42b549;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 700;
  zoom: 1;
  box-shadow: 0 4px 4px rgba(0,0,0,0.2)
}

.site-header:before {
  content: '';
  display: table;
}

.site-header:after {
  content: '';
  display: table;
  clear: both;
}

.site-logo {
  display: inline-block;
  height: 32px;
  width: 140px;
  background-image: url('https://ecs7.tokopedia.net/assets/images/tokopedia-logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 12px;
}

.site-nav-top {
  position: absolute;
  right: 0;
  top: 4px;
}

.site-nav-top ul {
  list-style: none;
  padding-left: 0;
}

.menu-item-has-children {
  display: inline-block;
  position: relative;
}

.menu-item-has-children > a {
  color: white;
  display: inline-block;
  padding-left: 12px;
  padding-right: 12px;
  letter-spacing: 1px;
  font-weight: 600;
}

.menu-item-has-children > a:hover {
  color: #efefef;
}

.menu-item-child {
  margin-top: -4px;
  padding-top: 22px;
  position: absolute;
  right: 0;
  min-width: 260px;
  z-index: 800;
  display: none;
}

.menu-item-child:before {
  content: '';
  width: 18px;
  height: 18px;
  position: absolute;
  background-color: #fcfcfc;
  transform: rotate(45deg);
  top: 20px;
  right: 12px;
  z-index: -1;
}

.menu-item-child li {
  background-color: #fcfcfc;
  border-bottom: 1px solid #dedede;
}

.menu-item-child li:hover {
  background-color: #fff;
}

.menu-item-child a {
  display: block;
  color: #555;
  font-weight: normal;
  padding: 16px;
  transition: color 0.2s ease-out;
}

.menu-item-child a:hover {
  color: #E04F4F;
}

.menu-item-has-children:hover .menu-item-child {
  display: block;
}

.menu-item-child-list {
  width: 160px;
  float: left;
}

.menu-item-child-content {
  background-color: #fcfcfc;
  width: 400px;
  padding: 4px;
}

.item-link {
  display: block;
  width: 100px;
  height: 100px;
  margin: 4px;
  float: left;
  background-color: #999;
}

.item-image {
  max-width: 100%;
  width: fit-content;
}

.main-nav {
  vertical-align: middle;
  width: 32px;
  height: 32px;
  margin-top: -4px;
  margin-left: 12px;
  background-image: url('https://ecs7.tokopedia.net/assets/images/ic_menu.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.main-nav:hover ~ .main-nav-child {
  display: block;
}

.main-nav-child {
  position: absolute;
  right: 0;
  min-width: 240px;
  margin-top: -12px;
  padding-top: 24px;
  text-align: center;
  zoom: 1;
  display: none;
}

.main-nav-child:hover {
  display: block;
}

.main-nav-child:before {
  content: '';
  width: 18px;
  height: 18px;
  position: absolute;
  background-color: #fcfcfc;
  transform: rotate(45deg);
  top: 20px;
  right: 12px;
  z-index: -1;
}

.main-nav-child li {
  background-color: #fff;
  float: left;
  width: 50%;
  padding: 8px;
  border-radius: 4px;
}

.main-nav-child li:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);  
}

.main-nav-child a {
  font-size: 12px;
  color: #555;
}

.icon-wrapper {
  background-color: #fff;
  padding: 8px;
  border-radius: 4px;
}

.icon-wrapper:before {
  content: '';
  display: table;
}

.icon-wrapper:after {
  content: '';
  display: table;
  clear: both;
}

.icon {
  width: 48px;
  height: 48px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.jubel-icon {
  background-image: url('https://ecs7.tokopedia.net/img/icon_tokopedia-toped@2x.png');
}

.official-icon {
  background-image: url('https://ecs7.tokopedia.net/img/icon_tokopedia-official-store@2x.png');
}

.digital-icon {
  background-image: url('https://ecs7.tokopedia.net/img/icon_tokopedia-pulsa@2x.png');
}

.kereta-icon {
  background-image: url('https://ecs7.tokopedia.net/img/icon_tokopedia-tiket@2x.png');
}

.donasi-icon {
  background-image: url('https://ecs7.tokopedia.net/img/icon_tokopedia-donasi@2x.png');
}

.bantuan-icon {
  background-image: url('https://ecs7.tokopedia.net/img/icon_tokopedia-bantuan@2x.png');
}

.site-main {
  margin-top: 60px;
}

.hidden {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  left: -99999px
}

.scrollholder {
  height: 100vh;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

.overlay.active {
  display: block;
}

.clearfix {
  zoom: 1;
}

.clearfix:before {
  content: '';
  display: table;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}